* {
    padding: 0;
    margin: 0;
}

.section {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/ai-bg.jpg);
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: -1;
        filter: blur(2px);

        
    }
}